@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
$body-color: #000000;
$font-color: #ffffff;
$primary-color: #7fc241;
$secondary-color: #000000;
$primary-font: 'Muli',
sans-serif;
body,
html {
    width: 100%;
    height: 100%
}

body {
    background-color: $body-color;
    color: $font-color;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

a:hover {
    color: $primary-color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* heading size */

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/* colors  */

.white {
    color: $font-color;
}

.green {
    color: $primary-color;
}

.dark-gray {
    color: $secondary-color;
}

.dark {
    background-color: $secondary-color;
}


/* uppercase */

.text-uppercase {
    text-transform: uppercase;
}


/* selection size, color */

.section {
    &-p {
        font-size: 20px;
        margin-top: 16px;
    }
    &-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 42px;
        line-height: 40px;
        padding: 10px 0;
        font-weight: 400;
        +.row {
            padding: 40px 0 90px;
        }
    }
    &-subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        color: $primary-color;
        padding: 10px 0;
    }
}


/* container padding */

.container {
    &Padding {
        &-top-40 {
            padding-top: 40px;
        }
        &-top-60 {
            padding-top: 60px;
        }
        &-bottom-70 {
            padding-bottom: 70px;
        }
        &-bottom-60 {
            padding-bottom: 60px;
        }
        &-bottom-50 {
            padding-bottom: 50px;
        }
        &-bottom-40 {
            padding-bottom: 40px;
        }
        &-bottom-30 {
            padding-bottom: 30px;
        }
        &-bottom-20 {
            padding-bottom: 20px;
        }
    }
    &Margin {
        &Top10 {
            margin-top: 10px;
        }
        &Top20 {
            margin-top: 20px;
        }
        &Top30 {
            margin-top: 30px;
        }
        &Left10 {
            margin-left: 10px;
        }
        &Top50icon {
            margin-top: 0px;
        }
    }
}

@media (max-width: 480px) {
    .containerMarginTop50icon {
        margin-top: 50px;
    }
}


/* preloader */

#preloader {
    background-color: $secondary-color;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999;
    &_image {
        background: url('../images/preloader-apple.png');
        height: 200px;
        left: 50%;
        margin: -100px 0 0 -100px;
        position: absolute;
        top: 50%;
        width: 200px;
        animation: 1s ease-in-out 0s normal none infinite running scaleout;
    }
}

#mainNav {
    background: rgba(48, 56, 69, 0.7);
    &.navbar-shrink {
        background: rgba(48, 56, 69, 1.0);
    }
    .navbar-nav>li.nav-item>a.nav-link {
        &,
         :focus {
            font-size: 13px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            color: $font-color;
        }
        &:focus:hover,
        &:hover {
            color: $primary-color
        }
    }
    .fa-envelope,
    .fa-facebook-square,
    .fa-phone-square,
    .fa-times {
        color: $primary-color;
        font-size: 30px;
        padding: 10px;
    }
    .icon_menu {
        .fa-envelope,
        .fa-facebook-square,
        .fa-phone-square {
            display: none;
        }
    }
    @media(max-width: 760px) {
        .fa-envelope,
        .fa-facebook-square,
        .fa-phone-square {
            font-size: 25px;
            padding: 5px;
        }
    }
    @media(max-width: 580px) {
        .fa-envelope,
        .fa-facebook-square,
        .fa-phone-square {
            font-size: 20px;
            padding: 2px;
        }
    }
    @media(max-width: 455px) {
        .fa-envelope,
        .fa-facebook-square,
        .fa-phone-square {
            display: none;
        }
        .logo {
            transform: scale(1.3);
            margin-top: -5px;
        }
        .icon_menu {
            .fa-envelope,
            .fa-facebook-square,
            .fa-phone-square {
                display: inline-block;
                font-size: 30px;
                padding: 10px;
            }
        }
    }
    @media(max-width: 375px) {
        .fa-envelope,
        .fa-facebook-square,
        .fa-phone-square {
            display: none;
        }
        .logo {
            transform: scale(1.5);
            margin-top: -10px;
        }
        .icon_menu {
            .fa-envelope,
            .fa-facebook-square,
            .fa-phone-square {
                display: inline-block;
                font-size: 30px;
                padding: 10px;
            }
        }
    }
}

@media(max-height: 480px) {
    #mainNav {
        height: 20%;
    }
}


/* slider */

.slick-loading .slick-list {
    background: $font-color url("../images/ajax-loader.gif") center center no-repeat;
}

.slider {
    padding: 0;
    overflow: hidden;
    .slick {
        &-slide {
            height: calc(100vh - 113px);
            width: 100%;
            position: relative;
            background-size: cover;
            background-position: center center;
            color: $font-color;
            text-align: center;
        }
        &-current h2 {
            transform: translate3d(-50%, -50%, 0) scale(1);
            opacity: 1;
        }
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-transform: uppercase;
        background-color: rgba(48, 56, 69, 0.7);
        text-shadow: 0px 0px 2px black;
        padding: 30px;
        font-size: 2.8rem;
        letter-spacing: .08em;
        transform: translate3d(-50%, -50%, 0) scale(0);
        opacity: 0;
        transition: all .7s ease-in-out;
    }
}

@media(max-height: 480px) {
    .slider h2 {
        font-size: 20px;
        padding: 15px;
    }
}


/* Slider Images */

#slider_image {
    &1 {
        background-image: url("../images/slick_slider/1.jpg")
    }
    &2 {
        background-image: url("../images/slick_slider/2.jpg")
    }
    &3 {
        background-image: url("../images/slick_slider/3.jpg")
    }
    &4 {
        background-image: url("../images/slick_slider/4.jpg")
    }
}


/* Icons */

@font-face {
    font-family: $primary-font;
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}


/* Arrows */

.slick {
    &-prev,
    &-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        color: $font-color;
        background-color: rgba(48, 56, 69, 0.7);
        width: 40px;
        height: 80px;
        line-height: 80px;
        transform: translateY(-50%);
        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(0, 0, 0, 0.6);
            &:before {
                opacity: 1;
            }
        }
        &.slick-disabled:before {
            opacity: .25;
        }
        &:before {
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3D(-50%, -50%, 0);
            color: $font-color;
            font-family: 'fontello';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    &-prev {
        left: 0px;
        z-index: 10;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &::before {
            content: "\f104";
            font: 40px/1 'FontAwesome';
        }
    }
    &-next {
        right: 0px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &::before {
            content: "\f105";
            font: 40px/1 'FontAwesome';
        }
    }
    &-slider {
        margin-bottom: 30px;
    }
    &-dots {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                &:hover,
                &:focus {
                    outline: none;
                    &:before {
                        opacity: 1;
                    }
                }
                &:before {
                    font-size: 6px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    content: '';
                    text-align: center;
                    background-color: #878682;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            &.slick-active button:before {
                background-color: $font-color;
            }
        }
    }
}

@media(max-width: 550px) {
    .slider h2 {
        font-size: 1.5em;
    }
}


/* menu 1 o nas */

.small-title {
    font-size: 22px;
    position: relative;
    text-align: left;
    color: $primary-color;
}

.effect-hight {
    height: auto;
}

@media(max-width: 769px) {
    .effect-hight {
        width: 70%;
        height: auto;
    }
    .small-title {
        text-align: center;
    }
    .about-p {
        text-align: center;
    }
}

@media(max-height: 600px) {
    .effect-hight {
        width: 50%;
        height: auto;
    }
}

@media(max-height: 450px) {
    .effect-hight {
        width: 30%;
        height: auto;
    }
}

#default-tab {
    .nav-tabs>li>a.active,
    #default-tab .nav-tabs>li a.active:focus,
    #default-tab .nav-tabs>li a.active:hover {
        border: 0 none;
        position: relative;
    }
    .about-float {
        float: right!important;
    }
    ul.nav-tabs {
        border-bottom: 1px solid $primary-color;
        margin-bottom: 10px;
        padding-bottom: 5px;
        li {
            margin-top: 0;
            a {
                border: medium none !important;
                color: $secondary-color;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 10px;
                padding: 10px 15px;
                text-transform: uppercase;
            }
        }
        >li a.active::before {
            bottom: -14px;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

.about2-intro-image {
    margin-bottom: 10px;
    img {
        width: 100%;
    }
}


/* Divider start */

.divider {
    max-width: 80%;
    margin: 20px auto 10px;
    position: relative;
    &-left {
        width: 45%;
        height: 1px;
        background-color: $font-color;
        position: absolute;
        left: 0;
        top: -11px;
        z-index: 2;
    }
    &-right {
        width: 45%;
        height: 1px;
        background-color: $font-color;
        position: absolute;
        right: 0;
        top: -11px;
        z-index: 1;
    }
    &-happy {
        background: url("../images/jablko.png");
        height: 21px;
        width: 24px;
        background-size: 24px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    &-icon {
        font-size: 18px !important;
        color: black;
        margin: 0 auto;
        position: relative;
        top: -20px;
        z-index: 10;
        display: table !important;
    }
}


/*! menu2 - co oferujemy */

li {
    padding: 4px;
}

.pm-services-tab {
    &-divider {
        width: 50px;
        height: 1px;
        background-color: $font-color;
        margin: auto;
    }
    &-system {
        max-width: 1140px;
        margin: 0 auto;
        &-desc {
            padding: 20px 60px 30px;
            display: none;
            position: relative;
            width: 1140px;
            margin: 60px auto 100px auto;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -o-border-radius: 2px;
            &-wrapper {
                height: 240px;
                overflow: hidden;
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
            }
            &.active {
                display: block;
            }
            &-expander {
                display: table;
                width: 38px;
                height: 38px;
                background-color: #263238;
                font-family: 'FontAwesome';
                color: $primary-color;
                font-size: 14px;
                text-align: center;
                padding-top: 12px;
                position: absolute;
                bottom: -45px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                border-radius: 99px;
                -webkit-border-radius: 99px;
                -o-border-radius: 99px;
                &:hover {
                    background-color: $primary-color;
                    color: black !important;
                }
            }
            &-text {
                i {
                    display: inline-block;
                    background-size: 32px;
                    height: 32px;
                    width: 32px;
                    max-width: 32px;
                    max-height: 32px;
                    vertical-align: middle;
                }
                h5 {
                    text-align: center;
                }
            }
            p {
                font-size: 16px;
                color: $font-color;
                line-height: 24px;
                &.paragraph-wrapper {
                    margin-right: 30px;
                    margin-left: 30px;
                }
            }
        }
        &-container {
            width: 100%;
            height: auto;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
            .iconset {
                display: inline-block;
                background-size: 80px;
                width: 80px;
                height: 80px;
            }
            li {
                float: left;
                width: 265px;
                margin-right: 20px;
                text-align: center;
                &:before {
                    content: "";
                    padding: 0;
                    margin: 0;
                }
                i {
                    color: #000000;
                    font-size: 80px;
                    margin-bottom: 30px;
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
                p {
                    font-size: 28px;
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    .pm-services-tab-system-desc p.paragraph-wrapper {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 14px;
    }
}

@media(max-width: 950px) {
    .pm-services-tab-system-desc p.paragraph-wrapper {
        font-size: 12px;
    }
    .pm-services-tab-system-desc p {
        font-size: 12px;
    }
}

.pm_services_tab_icon {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    &_container {
        position: relative;
        margin: 10px auto;
        width: 120px;
        height: 105px;
        z-index: 1;
        perspective: 1000;
        a {
            display: block;
            font-size: 15px;
            color: $font-color;
            font-weight: 600 !important;
            &:hover {
                color: $primary-color;
            }
        }
        &:hover {
            .pm_services_tab_icon {
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
            }
            i {
                opacity: 0;
            }
            .face.back {
                opacity: 1;
            }
        }
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    &.back {
        display: block;
        padding: 10px;
        color: $font-color;
        text-align: center;
        opacity: 0;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transform: rotateY(180deg) translateZ(1px);
        -moz-transform: rotateY(180deg translateZ(1px));
        -webkit-transform: rotateY(180deg) translateZ(1px);
        -o-transform: rotateY(180deg) translateZ(1px);
        -ms-transform: rotateY(180deg) translateZ(1px);
    }
}

.pm-skills-logo.iconset {
    display: inline-block;
    background-size: 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.graphic {
    &-icon {
        background: url("images/icon/line-chart.png");
    }
    &-stong {
        background: url("../images/icon/exercise.png");
    }
    &-heal {
        background: url("../images/icon/pills.png");
    }
    &-gym {
        background: url("../images/icon/icon_number_one.png");
    }
    &-cook {
        background: url("../images/icon/stew.png");
    }
}

.animation-pulse_text,
.animation-pulse_icon {
    animation-name: animation-pulsse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: animation-pulsse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

@media(max-width: 950px) {
    @keyframes animation-pulsse {
        0% {
            transform: scale(1);
        }
        100% {
            visibility: visible;
            transform: scale(1.2);
        }
    }
    @-webkit-keyframes animation-pulsse {
        0% {
            transform: scale(1);
        }
        100% {
            visibility: visible;
            transform: scale(1.2);
        }
    }
}

.text {
    margin-top: 6px;
    margin-left: -30px;
    text-align: left;
}

@media(max-width: 1024px) {
    .text {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -40px;
        text-align: left;
    }
}

@media(max-width: 950px) {
    .text {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -30px;
        text-align: left;
    }
}

@media(max-width: 768px) {
    .text {
        font-size: 12px;
        margin-top: 8px;
        margin-left: -20px;
        text-align: left;
    }
    h5 {
        font-size: 12px;
    }
}

@media(max-width: 720px) {
    .text {
        font-size: 12px;
        margin-top: 8px;
        margin-left: -15px;
        text-align: left;
    }
}

@media(max-width: 620px) {
    .text {
        font-size: 12px;
        margin-top: 8px;
        margin-left: -8px;
        text-align: left;
    }
}

@media(max-width: 577px) {
    .text {
        font-size: 12px;
        text-align: center;
        margin-right: 30px;
    }
    .icon {
        margin-right: 40px;
    }
}


/*! menu3 - nasze atuty */

.service {
    width: 100%;
    height: 300px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:hover {
        height: auto;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .icon-holder {
        position: relative;
        top: 60px;
        display: inline-block;
        background: $body-color;
        margin-bottom: 40px;
        padding: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        >img.icon-assets {
            width: 40px;
        }
    }
    .heading {
        position: relative;
        top: 40px;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .description {
        width: 95%;
        font-size: 16px;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    &:hover {
        border-color: #ddd;
        .icon-holder {
            top: -50px;
        }
        .heading {
            top: -80px;
        }
        .description {
            margin-top: -60px;
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}

.wattle,
.pm-column-subtitle.wattle,
.pm-column-title.wattle {
    font-size: 18px;
}

@-webkit-keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}

@keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}


/* menu4 - efekty naszej pracy */

.modal {
    &-title,
    &-footer {
        color: $secondary-color;
    }
}

.effect-size {
    max-width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.effect-size:hover {
    opacity: .7;
    transform: scale(1.05, 1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}

@media(max-width: 769px) {
    .effect-size {
        max-width: 100%;
    }
}


/* menu5 - galleria */

.row img {
    padding: 10px 10px;
}

.picsGall {
    max-width: 100%;
    height: auto;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.picsGall:hover {
    opacity: .7;
    transform: scale(1.05, 1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}


/* menu6 - kontakt */

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 20px;
        &:before {
            content: "";
            padding: 0;
            margin: 0;
        }
        i {
            width: 45px;
            height: 45px;
            border: 2px solid black;
            background: $primary-color;
            font-family: 'FontAwesome';
            font-size: 20px;
            padding-top: 10px;
            color: black !important;
            margin: 0 auto;
            display: block;
            border-radius: 99px;
            -webkit-border-radius: 99px;
            -o-border-radius: 99px;
        }
        p {
            font-size: 16px;
            margin-top: 15px;
        }
        a {
            font-size: 16px;
            margin-top: 10px;
            display: inline-block;
        }
    }
}


/* footer */

.footer {
    margin-top: 20px;
    font-size: 12px;
}

//media heading size
@media(max-width:992px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    .section {
        padding: 30px 0;
    }
}